/*---------------] BASE [---------------*/
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  background-color: rgb(125, 125, 140);
}

a {
  text-decoration: none !important;
}



.bouton-degrade a {
  display: inline-block !important;
  padding: 20px 20px !important;
  color: #fff !important;
  font-size: 15px;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(15,15,150,1) 0%, rgba(15,15,120,1) 100%);
  border-radius: 15px;
  font-weight: 500 !important;
  letter-spacing: 0.3px !important;
}

.bouton-degrade a:hover {
  color: #fff !important;
  background: rgb(19,175,240);
  background: linear-gradient(105deg, rgba(30,30,175,1) 0%, rgba(30,30,150,1) 100%);
}

/*---------------] HEADER [---------------*/

.logo {
  padding-left: 30px;
  padding-top: 12px;
}
.head-zone {
  border-bottom: 1px solid rgba(42,42,42,0.2);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px; 
  height: 100px;
  background: linear-gradient(105deg, rgba(15,40,70,1) 0%, rgba(35,50,100,1) 100%);
}

.head-zone .head-nav .logo {
    line-height: 100px;
    float: left;
}

.head-zone .head-nav .nav {
  float: right;
  margin-right: 20px;
  background-color: transparent;
  position: relative;
}

.head-zone .head-nav .nav li {
  padding-left: 5px;
  padding-right: 20px;
}

.head-zone .head-nav .nav li:nth-child(6) {
  padding-right: 40px;
  padding-left: 40px;
}

.head-zone .head-nav .nav li:last-child a ,
.background-header .head-nav .nav li:last-child a,
.head-zone .head-nav .nav li:nth-child(6) a ,
.background-header .head-nav .nav li:nth-child(6) a {
  padding: 0px 20px !important;
  font-weight: 400;
}


.head-zone .head-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 15px;
  color: white;
  text-transform: capitalize;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.head-zone .head-nav .nav li:hover a{
  color: rgba(175,175,250,1)!important;
}

.head-zone .nav {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .head-zone .head-nav .nav li {
    padding-left: 12px;
    padding-right: 12px;
  }
  .head-zone .head-nav:before {
    display: none;
  }
}

@media (min-width: 767px) {
  .head-zone .head-nav .nav {
    display: flex !important;
  }
}

/*---------------] FOOTER [---------------*/

footer {
  border-bottom: 1px solid rgba(42,42,42,0.2);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px; 
  height: 50px;
  background: linear-gradient(105deg, rgba(15,40,70,1) 0%, rgba(35,50,100,1) 100%);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/*---------------] MAIN [---------------*/

main{
  padding: 100px;
}